@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body{
    background-color: #020021;
}

img {
    position: relative;
    width: 182px;
    height: 45px;
    left: 152px;
    top: 41px;
}


