@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

nav {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    
    border:1px solid yellow;

    
}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    
}
.SignUp {
    color: #00AB82;
}